
.about_left{
    width: 45%;
}
.about_right{
    flex: 1;
}
.about_left img{
    width: 500px;
    object-fit: cover;
    object-position: top;
}
.about_right h1{
    font-size: 80px ;
    font-weight: 500 ;
    line-height: 96px ;
    font-family: var(--secondary-font);
}
.dark-mode .about_right h1{
    color: var(--white-color);
}
.about_right p{
    font-size: 1.8em ;
    line-height: 40px;
    font-family: var(--primary-font);

}
.dark-mode .about_right{
    color: var(--white-color);
}
.about_text span{
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    border-bottom: 2px solid var(--black-color);
    padding: 0.2em;
    cursor: pointer;
    font-family: var(--secondary-font);
}
.dark-mode .about_text span{
    color: var(--white-color);
    border-bottom: 2px solid var(--white-color);
}

@media (max-width: 1024px){
    .about-wrapper{
        flex-direction: column;
    }
    .about_left{
        width: 100%;
    }
    
    .about_right{
        margin-top: 2em;
    }

    .about_right p{
    font-size: 1em;
    line-height: 20px;
    }
}
@media (max-width:990px){
    .about_left img{
        width: 100%;
    }
}

