
.ampulitude_left{
    width: 34%;
}
.ampulitude_right{
    width: 66%;
}
.ampulitude_left h1{
    font-size: 43px;
    font-weight: 500;
    line-height: 52px;
    color: var(--white-color);
    text-transform: uppercase;
    border-top: 2px solid var(--white-color);
    padding-top: 0.5em;
    cursor: pointer;
}
.ampulitude_left p{
    font-size: 18px;
    line-height: 30px;
    color: var(--white-color);
    margin-bottom: 2em;
}
.ampulitude_left span{
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 1.8px;
    color: var(--white-color);
    text-transform: uppercase;
    border-bottom: 2px solid var(--white-color);
    padding-bottom: 0.5em;
    cursor: pointer;
}
.ampulitude_right img{
    object-fit: cover;
    object-position: top;
    transition: var(--primary-transition);
}
.ampulitude_right img:hover{
    transform: scale(1.02) translateZ(0.1px);
}