.footer_list{
    background-color: var(--footer-color);
}
.footer_list_left h1{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: var(--white-color);
}
.footer_middle_list span{
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    color: var(--white-color);
    cursor: pointer;
}
.footer_right_list span{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: var(--white-color);
}
.footer_right_list i{
    font-size: 22px;
    line-height: 22px;
    background-color: transparent;
    color: var(--white-color);
    width: 38px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--white-color);

}
.footer_text{
    margin-top: 11em;
}
.footer_text p{
    font-size: 13px;
    color: #999999;
    max-width: 337px;
}