.header {
  position: relative;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  font-family: var(--primary-font);
}
.logo {
  width: 105px;
  height: 34px;
  cursor: pointer;
}
.nav_links a {
  color: var(--white-color);
  font-size: 17px;
  line-height: 27.2px;
}
.nav_links a:hover {
  color: bisque;
}
a.active {
  border-bottom: 2px solid white;
  padding: 0.3em;
}
.app_btn {
  font-size: 1em;
  border: none;
  outline: 2px solid var(--white-color);
  padding: 4px 14px 4px 14px;
  border-radius: 40px;
  background-color: transparent;
  color: var(--white-color);
  width: 124px;
  height: 38px;
  font-family: var(--primary-font);
}
.button i{
  font-size: 16px;
  font-weight: 16px;
  color: var(--white-color);
}