.hero-banner{
    background-image: url('https://resonance.bestlooker.pro/images/full-width-images/section-bg-13.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.hero_head_area h4{
    color: var(--white-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 120px;
    margin-top: 2em;
    font-family: var(--secondary-font);

}
.hero_head_area h1{
    font-size: 100px;
    color: var(--white-color);
    font-weight: 500;
    line-height: 120px;
    font-family: var(--secondary-font);

}
.hero-banner .container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    text-align: center;
}
.circle_hero button{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: black;
    background-color: var(--white-color);
    width: 170px;
    height: 170px;
    border-radius: 50%;
    font-family: var(--secondary-font);

}
.hero_promoted_left h1{
    font-size: 16px;
    line-height: 22px;
    color: var(--white-color);
    font-family: var(--primary-font);
}
.hero_promoted_right i{
    font-size: 18px;
    line-height: 31px;
    color: var(--white-color);
    width: 38px;
    height: 38px;
    background: transparent;
    border-radius: 50%;
    border: 2px solid var(--white-color);
    cursor: pointer;
}
.hero_promoted_left {
    border-left: 2px solid white;
    padding-left: 1em;
}