.news .container{
    border-bottom: 1px solid #343434;
}
.single_news {
    width: 30%;
}
.single_news img{
    object-fit: cover;
    object-position: top;
    transition:var(--primary-transition);
    width: 350px;
    height: 300px;
}
.single_news img:hover{
    transform: scale(1.02) translateZ(0.1px);
}

.single_news.news1 {
    margin-top: 10em;
}

.single_news.news2 {
    margin-top: 5em;
}
.news-heading h1{
    font-size: 80px;
    font-weight: 500;
    line-height: 95px;
    font-family: var(--secondary-font);
}

.dark-mode .news-heading h1{
    color: var(--white-color);
}
.news-heading p{
    font-size: 24px;
    line-height: 40px;
    max-width: 515px;
    margin-bottom: 2em;
    font-family: var(--primary-font);
    margin-top: 1em;
}

.dark-mode .news-heading p{
    color: var(--white-color);
}
.news-heading span{
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    border-bottom: 2px solid var(--black-color);
    padding-bottom: 0.5em;
    cursor: pointer;
    font-family: var(--primary-font);
}
.dark-mode .news-heading span{
    color: var(--white-color);
    border-bottom: 2px solid var(--white-color);
}

.single_news a{
    font-size: 25px;
    line-height: 39px;
    color: var(--black-color);
    transition: var(--primary-transition);
    font-family: var(--primary-font);
}
.dark-mode .single_news a{
    color: var(--white-color);
}
.single_news p{
    font-size: 16px;
    line-height: 24px;
    font-family: var(--primary-font);
}
.dark-mode .single_news p{
    color: var(--white-color);
}
.single_news a:hover{
    border-bottom: 1px solid var(--white-color);
}


@media (max-width:1024px){
    .news-wrapper{
        flex-wrap: wrap;
    }
    .single_news{
        width: 45%;
    }
    .single_news news1{
        margin-top: 0em;
    }
}