.reserach{
    border-bottom: 1px solid #343434;
}
.single_number h3{
    font-size: 23px;
    font-weight: 500;
    color: var(--black-color);
    background-color: var(--white-color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--secondary-font);
}
.single_number span{
    font-size: 28px;
    font-weight: 500;
    line-height: 37px;
    font-family: var(--secondary-font);
}
.dark-mode .single_number span{
    color: var(--white-color);
}
.resherch_title p{
    font-size: 19px;
    line-height: 30px;
    margin-top: 1em;
    font-family: var(--primary-font);
}
.dark-mode .resherch_title p{
    color: var(--white-color);
}