/* TODO:Fix Service FAQ Cursor issue */
.services{
    border-bottom: 1px solid #343434;
}
.serivces_left{
    width: 45%;
}
.serivces_right{
    flex: 1;
}
.serivces_left h1{
    font-size: 80px;
    font-weight: 500;
    line-height: 96px;
    font-family: var(--secondary-font);
}
.dark-mode .serivces_left h1{
    color: var(--white-color);
}
.serivces_left p{
    font-size: 24px;
    line-height: 40px;
    font-family: var(--primary-font);
    max-width: 454px;
}
.dark-mode .serivces_left{
    color: var(--white-color);
}
.serivces_left span{
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 1.8px;
    border-bottom: 2px solid var(--black-color);
    padding: 0.2em;
    cursor: pointer;
    font-family: var(--secondary-font);
}
.dark-mode .serivces_left span{
    color: var(--white-color);
    border-bottom: 2px solid var(--white-color);
}
.services_single span{
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: var(--secondary-font);
}
.dark-mode .services_single span{
    color: var(--white-color);
}
.services_single i{
    font-size: 31px;
    
    cursor: pointer;
}
.dark-mode .services_single i{
    color: var(--white-color);
}

.light_contant{
    display: inline-block;
    width: 60px;
    height: 35px;
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    transform: rotate(-30deg);
    font-family: var(--secondary-font);
}

.dark-mode .light_contant{
background-color: white;
color: black;
}

@media (max-width: 550px){
    .services_wrapper{
        flex-direction: column;
    }
    .serivces_left{
        width: 100%;
    }
    .serivces_right{
    margin-top: 3em;
    }
    .services_single span{
    font-size: 20px;
    }
}