.wrok_left h1 {
  font-size: 80px;
  font-weight: 500;
  line-height: 96px;
  letter-spacing: 1px;

  font-family: var(--secondary-font);
}
.dark-mode .wrok_left h1{
  color: var(--white-color);
}
.single_work h1 {
  font-size: 18px;
  font-family: 500;
  line-height: 30px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  color: var(--white-color);
  font-family: var(--secondary-font);
}
.work_right .work_btn {
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: var(--secondary-font);
  padding: 8px 30px;
  border-radius: 20px;
  color: var(--black-color);
}

.dark-mode .work_right .work_btn {
  color:  var(--white-color);
}


.work_btn_active {
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--black-color);
  border: none;
  outline: none;
  cursor: pointer;
  font-family: var(--secondary-font);
  padding: 8px 30px;
  border-radius: 20px;
}
.dark-mode .work_btn_active{
  background-color: var(--white-color);
  color: var(--black-color);
}
.medium_left {
  overflow: hidden;
  width: 66%;
}
.medium_right {
  width: 34%;
}
.medium_left img {
  object-fit: cover;
  object-position: top;
  transition: var(--primary-transition);
}
.medium_left img:hover {
  transform: scale(1.02) translateZ(0.1px);
}
.medium_right h1 {
  font-size: 43px;
  font-weight: 500;
  line-height: 52px;
  text-transform: uppercase;
  border-top: 2px solid var(--black-color);
  padding-top: 0.5em;
  cursor: pointer;
  font-family: var(--secondary-font);
}
/* .dark-mode .ium_right h1{
  color: var(--white-color);
  border-top: 2px solid var(--white-color);
} */
.medium_right p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 2em;
  font-family: var(--primary-font);
  margin-top: 1em;
}
.dark-mode .medium_right p{
  color: var(--white-color);
}

.medium_right span{
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  border-bottom: 2px solid var(--black-color);
  padding-bottom: 0.5em;
  cursor: pointer;
  font-family: var(--secondary-font);
}

.dark-mode .medium_right span{
  color: var(--white-color);
  border-bottom: 2px solid var(--white-color);
}

@media (max-width:550px) {
  .work_wrapper{
    flex-direction: column;
  }
  .work_right{
    margin-top: 1em;
  }
  .medium_wrapper{
    flex-direction: column;
  }
  .medium_left{
    width: 100%;
  }
  .medium_right{
    margin-top: 1em;
    width: 100%;
  }
}
@media (max-width:768px){
  .work_wrapper{
    flex-direction: column;
  }
}
